extends ../layouts/default.pug

block main
	.section-11(page-cart)
		.container
			.inner-wrap
				.inner-cart
					.inner-head
						.inner-title Giỏ hàng
						a(href="/").inner-button Quay lại mua hàng 
							i.fa-solid.fa-angle-right
					.inner-list
					.inner-bill
						form(id="code-form").inner-code
							input(
								id="code-input"
								name="code"
								placeholder="Nhập mã giảm giá" 
								type="text"
								)
							button.inner-button Dùng Mã
						.inner-box.inner-price
							.inner-label Tạm tính:
							.inner-price
								span(cart-sub-total) 0
								span đ
						.inner-box.inner-discount
							.inner-price
								span(cart-discount) 0
								span đ
						.inner-box.inner-total-price
							.inner-price-highlight
								span(cart-total) 0
								span đ
				form(id="payment-form").inner-payment
					.inner-info
						.inner-title Thông Tin Khách Hàng
						.inner-contact(action="")
							.inner-input
								input(
									id="fullname-input"
									name="fullname"
									placeholder="Họ và tên *" 
									type="text"
									)
							.inner-input
								input(
									id="phone-input"
									name="phone"
									placeholder="Số điện thoại *" 
									type="text"
									)
							.inner-input
								input(
									id="note-input"
									name="note"
									placeholder="Ghi chú" 
									type="text"
									)
					.inner-payment-method
						.inner-title Chọn phương thức thanh toán
						.inner-select
							.inner-item
								input(
									id="methodMoney"
									name="method" 
									value="money"
									type="radio"
									checked=""
									)
								label(for="payment-method-1") Thanh toán tiền mặt khi đi tour
							.inner-item
								input(
									id="methodMomo"
									name="method" 
									value="momo"
									type="radio"
									)
								label(for="payment-method-2") Ví Momo
							.inner-item
								input(
									id="methodBank"
									name="method"
									value="bank" 
									type="radio"
									)
								label(for="payment-method-3") Chuyển khoản ngân hàng
						.inner-bank
							.inner-title Thông tin chuyển khoản
							.inner-item
								.inner-label Ngân hàng:
								span Vietcombank
							.inner-item
								.inner-label Tên tài khoản:
								span Lê Văn A
							.inner-item
								.inner-label STK:
								span 123456789
					button.inner-button ĐẶT TOUR