extends ../layouts/default.pug
include ../mixins/breadcrumb.pug

block main
	+breadcrumb(categoryDetail, tourDetail)

	.section-10
		.container
			.inner-wrap
				.inner-left
					.box-image
						.inner-image-main
							.swiper.swiperImageList
								.swiper-wrapper
									each image in tourDetail.images
										.swiper-slide
											.inner-image
												img(
													alt="section-10 image" 
													src=image
													)
						.inner-image-thumbs
							.swiper.swiperImageThumbs
								.swiper-wrapper
									each image in tourDetail.images
										.swiper-slide
											.inner-image
												img(
													alt="section-10 image" 
													src=image
													)
					.inner-info-tour
						.inner-content
							h3.inner-title Thông tin tour
							.inner-content !{tourDetail.information}
						.inner-box
							button.inner-button Xem tất cả
					.inner-tour-schedule
						.inner-title Lịch Trình Tour
						.inner-list
							.inner-line
							each item in tourDetail.schedules
								.inner-item
									.inner-dot
									.inner-title #{item.title}
                  .inner-content !{item.description}
				.inner-right
					.inner-your-tour
						.inner-title
							span Chuyến Đi Của Bạn
						.inner-tour
							.inner-image
								img(
									alt=tourDetail.name
                  src=tourDetail.avatar
									)
							.inner-info
									.inner-name #{tourDetail.name}
									.inner-rating
									img(
										alt="Icon-rating" 
										src="/client/assets/image/Icon-rating.png"
										)
									span 500 lượt đánh giá
						.inner-content
							//- .inner-item
							//- 	i.fa-solid.fa-ticket-simple
							//- 	.inner-label Mã Tour:
							//- 	.inner-value 28T00001
							.inner-item
								i.fa-solid.fa-calendar-days
								.inner-label Thời Gian:
								.inner-value #{tourDetail.time}
							.inner-item
								i.fa-solid.fa-car
								.inner-label Phương Tiện:
								.inner-value #{tourDetail.transport}
							.inner-item
								i.fa-solid.fa-calendar-days
								.inner-label Ngày Khởi Hành:
								.inner-value #{tourDetail.departureDateFormat}
						.inner-start
							.inner-label Khởi Hành Tại
							select(location-from).inner-select
								option(value="") Chọn thành phố
								each city in tourDetail.cityList
									option(value=city.id) #{city.name}
						.inner-quantity
							.inner-label Số Lượng Hành Khách
							.inner-item
								.inner-label Người lớn
								input(
									min="0" 
									value="1" 
									type="number"
									max=tourDetail.stockAdult
									input-stock-adult
									price=tourDetail.priceNewAdult
									)
								.inner-price
									span(stock-adult) 1
									span x
									span #{tourDetail.priceNewAdult.toLocaleString("vi-VN")}
							.inner-item
								.inner-label Trẻ em
								input(
									min="0" 
									value="0" 
									type="number"
									max=tourDetail.stockChild
									input-stock-children
									price=tourDetail.priceNewChildren
									)
								.inner-price
									span(stock-child) 0
									span x
									span #{tourDetail.priceNewChild.toLocaleString("vi-VN")}
							.inner-item
								.inner-label Em bé
								input(
									min="0" 
									value="0" 
									type="number"
									max=tourDetail.stockBaby
									input-stock-baby
									price=tourDetail.priceNewBaby
									)
								.inner-price
									span(stock-baby) 0
									span x
									span #{tourDetail.priceNewBaby.toLocaleString("vi-VN")}
						.inner-total-price
							.inner-label Tổng cộng
							.inner-price
                span(total-price) #{tourDetail.priceNewAdult.toLocaleString("vi-VN")}
                span đ

						.inner-button
							button Thêm Vào Giỏ Hàng