extends ../layouts/default.pug
include ../mixins/product-item.pug
include ../mixins/breadcrumb.pug

block main
	+breadcrumb(categoryDetail)
	.section-9
		.container
			.inner-wrap
				.inner-left
					.inner-box-filter
						.inner-filter-list
							.inner-header
								.inner-title Bộ Lọc
								i.fa-solid.fa-filter
							.inner-group
								.inner-label Điểm đi
								select(name="locationFrom")
									option(value="") --Chọn điểm đi--
									each item in cityList
                    option(value=item.id) #{item.name}
							.inner-group
								.inner-label Điểm đến
								select(name="locationTo")
									option(value="") --Chọn điểm đến--
									each item in cityList
                    option(value=item.id) #{item.name}
							.inner-group
								.inner-label Ngày khởi hành
								input.inner-input(type="date" name="departureDate")
							.inner-group
								.inner-label Số lượng Hành Khách
								.inner-input-list
									.inner-input-item
										.inner-label Người lớn
										input(
											value="0" 
											type="number"
											name="stockAdult"
											)
									.inner-input-item
										.inner-label Trẻ em
										input(
											value="0" 
											type="number"
											name="stockChildren"
											)
									.inner-input-item
										.inner-label Em bé
										input(
											value="0" 
											type="number"
											name="stockInfant"
											)
							.inner-group
								.inner-label Mức giá
								select(name="price")
									option(value="") --Chọn mức giá--
									option(value="0-999999") Dưới 1tr
                  option(value="1000000-3000000") Từ 1tr đến 3tr
                  option(value="3000000-6000000") Từ 3tr đến 6tr
                  option(value="6000000-10000000") Từ 6tr đến 10tr
                  option(value="10000000-1000000000") Trên 10tr
							button.inner-button Áp Dụng
				.inner-right
					.inner-info
						.inner-title #{categoryDetail.name}
						.inner-desc
							| !{categoryDetail.description}
						.inner-filter
							.inner-group.inner-group-1
								.inner-label
									span Sắp xếp :
								button.inner-button
									| Giá tăng dần
									img(
										alt="Arrow Up Icon" 
										src="/client/assets/image/icon-up-right.png"
										)
								button.inner-button
									| Giá giảm dần
									img(
										alt="Arrow Down Icon" 
										src="/client/assets/image/icon-down-right.png"
										)
							.inner-group.inner-group-2
								button.inner-button.inner-button-active
									| Khuyến mãi Hot
									img(
										alt="Sale Icon" 
										src="/client/assets/image/icon-sale.png"
										)
								button.inner-button
									| Xem Nhiều
									img(
										alt="Eye Icon" 
										src="/client/assets/image/icon-eye.png"
										)
							.inner-group.inner-group-3
								.inner-total-item
									| Tẩt cả:
									span 101 tour
								button.inner-list-filter
									.inner-title Bộ Lọc
									i.fa-solid.fa-filter
					.inner-list-item
						if (tourList.length > 0)
              each item in tourList
                +product-item(item)
            else
              p Không có dữ liệu.
					.inner-pagination
						ul.inner-list
							li.inner-item
								button.inner-button
									i.fa-solid.fa-angles-left
							li.inner-item.inner-item-active
								button.inner-button.inner-button-active 1
							li.inner-item
								button.inner-button 2
							li.inner-item
								button.inner-button 3
							li.inner-item
								button.inner-button 4
							li.inner-item
								button.inner-button
									i.fa-solid.fa-angles-right