extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main
		h1.box-title Nhóm quyền
		//- Section 5
		.section-5
			.inner-wrap
				.inner-search
					<i class="fa-solid fa-magnifying-glass"></i>
					input(type="text" placeholder="Tìm kiếm" search)
				.inner-button-create
					a(href=`/${pathAdmin}/setting/role/create`)  + Tạo mới
		//- End Section 5

		//- Section 6
		.section-6 
			.table-2 
				table 
					thead 
						tr 
							th.text-left
								+checkbox-30("", "")
							th.text-left Tên nhóm quyền
							th.text-left Mô tả ngắn
							th.text-left Tạo bởi
							th.text-left Cập nhật bởi
							th.text-left Hành động
					tbody
						each item in roleList
							tr 
								td.text-left
									+checkbox-30("", "")
								td.text-left #{item.name}
								td.text-left #{item.description}
								td.text-left
									if (item.createdByFullName)
										div #{item.createdByFullName}
										div.inner-small #{item.createdAtFormat}
								td.text-left
									if (item.updatedByFullName)
										div #{item.updatedByFullName}
										div.inner-small #{item.updatedAtFormat}
								td.text-left
									.box-actions 
										a(
											href=`/${pathAdmin}/setting/role/edit/${item.id}`
											class="inner-edit"
										)
											<i class="fa-solid fa-pen-to-square"></i>
		//- End Section 6

		//- Section 7
		.pagination
			span(class="inner-label") Hiển thị 1 - 9 của 78
			select(class="inner-pagination")
				option Trang 1
				option Trang 2
				option Trang 3
		//- End Section 7
